@import url(/source/reset.css);
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&family=Open+Sans:wght@300;400;500&family=Red+Hat+Display:ital,wght@0,300;0,400;1,400&display=swap');

body {
    font-family: 'Open sans', sans-serif;
    margin: 0;
}
.content {
    color: #fff;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section { 
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    border-radius: 20px;
}
.dados__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    margin-right: 25px;
    padding: 20px;

    width: 500px;
    height: 350px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dados--title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
}
.resultado__container {
    text-align: center;
    padding: 20px;

    width: 200px;
    height: 350px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resultado__container h3 {
    padding-top: 35px;
    font-weight: 600;
    font-size: 40px;
}
.resultado__container h2 {
    padding-top: 70px;
    font-weight: 600;
    font-size: 70px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
}
.peso,.altura {
    margin: 5px;
}
input {
    font-size: 18px;
    margin: 10px;
    padding: 15px 40px;

    border: none;
    border-radius: 10px;
}


button {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            

   border: none;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 10px;
   display: block;
 }

 button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }


@media (max-width: 800px) {
    .content {
        flex-direction: column;
        margin-top: 100px;
    }
    .dados__container {
        height: 400px;
    }
    .resultado__container, .dados__container {
        margin: 10px 0px;
        width: 70vw;
    }
}